{% extends "layout.html" %}
{% block content %}

<h6>Please, insert the url of the news article you want analyze:</h6>

{% from "_formhelpers.html" import render_field %}
<form method="post" action=''>

    <dl>
        <p>
            {{ render_field(form.search) }}
    </dl>
    </p><input name="submit" class="btn btn-primary btn-lg" type=submit value="submit" id="submit">
</form>
<br>

<h4>Top 5 news analyzed</h4>

<table class="table table-light mb-0">
    <tr>
        {% for header in headings %}
        <th>{{ header }}</th>
        {% endfor %}
    </tr>
    {% for row in datafive %}
    <tr>
        {% for cell in row %}
        <td>{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% for error in errors %}
<h4 class="errormsg">{{ error }}</h4>
{% endfor %}

{% endblock %}